.rootContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display:flex;
    gap:10px;
    list-style-type: none;
}
li {
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 5px;

}
li a {
    text-decoration: none;
    color: white;
}
li a:hover{
    cursor: pointer;
}